
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * require_tree .
 *= require jquery.fileupload-ui
*= require jquery.datetimepicker	
 * require 'bootstrap'

 * require 'neuigkeiten'
 */

$color_schema_1: #006599;
$color_schema_2: #630CE8;
$color_schema_3: #FF0021;
$color_schema_4: #E8820C;
$color_schema_5: #FFF30D;

$color_prim: #006599; //071672;
$color_prim_light: lighten($color_prim ,10%);
$color_prim_vlight: lighten($color_prim ,30%);
$color_prim_dark: darken($color_prim ,10%);
$color_prim_vdark: darken($color_prim ,30%);

$color_cont: $color_schema_3;
$color_cont_light:lighten($color_cont ,10%);
$linkColor: $color_prim;
$white: #FFFFFF;

$bodyBackground: #EEE;




$navbarBackground: #EEE;//$color_prim;
$navbarText: $color_prim; 
$navbarLinkColor: $color_prim;
$navbarLinkColorHover: $color_prim_dark;
$dropdownLinkColor: black;
$navbar-default-brand-color: black;
$navbarBrandColor:black;


$navbarBackgroundHighlight: #EEE;
//$navbarBackgroundHighlight:#FFFFFF;


$navbarLinkBackgroundHover: darken($navbarBackground,10%);


$infoBackground:#65A5D1;
$infoText:#03406A;
$sansFontFamily: Helvetica, Arial;

@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'bootstrap/image-gallery';
@import 'font-awesome';
@import 'neuigkeiten';
@import 'themengruppen';

div.header { 
  display: block; 
//  background: url('../../../../header1.png') no-repeat;
//  background-color:white;// $color_prim;
 // background-position: right; 
  vertical-align:middle;
  float:left;
  color:#000;
  padding-top:0px;
 overflow:visible;
 height:45px;
  margin-bottom: 0 px
}
div.header h1 {
   padding:0;
   margin:4px;
   font-size:20px;
   line-height:32px;
}
div.header img {
//top:2px;
//position:relative;
}
div.navbar {
border-bottom: $color_prim solid 3px;
}
div.headerrow {
}

$contentdiv-background:none;
$navbar-li-minwidth: 0;



$box-border: lightgray solid 1px;
$box-border-radius:0px;
$box-background: white;

@import 'layout';
@import 'calendars';
