
<div id="nlink_list">
  <%= I18n.t("neuigkeit.sieheauch") %>
  <div class="container-fluid">
    <% nlink_list_whole.each_slice(2) do |row| %>
    <div class="row-fluid">
      <% row.each do |nl| %>
      <div class="span6">
	<%= render partial: "nlink_list", object: nl %>
      </div>
      <% end %>
    </div>
  <% end %> 
  </div>
</div>
