<p id="notice"><%= notice %></p>
<%= render @neuigkeit %>
<p>
  <b>Datum:</b>
  <%= @neuigkeit.datum %>
</p>


<% elements=[link_to('Edit', edit_neuigkeit_path(@neuigkeit))]
 elements << link_to('Back', rubrik_path(@neuigkeit.rubrik)) %>
<%= toolbar_html (elements) %>
