<div class="contentbox">
<%= image_tag("/iconnavy/time.png")  %>
<% if calentry.start.to_date == calentry.ende.to_date 
format=:timeonly
else
format =:default
end%>
<%= link_to I18n.l(calentry.start) +" bis "+ I18n.l(calentry.ende,:format=>format), calentry_path(calentry) %>
</div>
