<div class="contentbox" id="calentry_<%= calentry.id%>">
<% image_tag("/iconnavy/time.png")  %>
<%= fa_icon("calendar 2x") %>

<% if calentry.start.to_date == calentry.ende.to_date 
format=:timeonly
else
format =:default
end%>
<%= calentry.text %>

<%= link_to "edit", edit_calentry_path(calentry) if can? :edit, calentry %>
</div>
