<%= render :partial=>'layouts/topbar', :object=>@tb %>
<h1><%= I18n.t("lva.list")%></h1>
<ul>
<% @lvas.each do |l| %>
<li><%= render :partial => 'lvas/lva_semester', :locals=> {:lva => l} %>
<%end%>
</ul>
<%= render 'layouts/pretty_toolbar' %>
