<div class="container-fluid">
<%= render :partial=>'layouts/topbar', :object=>@tb %>
<h1><%= I18n.t("lva.list")%></h1>
<div class="row-fluid">
<% @lvas.each do |l| %>
<div><%= render :partial => 'lvas/lva_semester', :locals=> {:lva => l} %></div>
<%end%>
</div>
<%= render 'layouts/pretty_toolbar' %>
</div>
