<div class="container-fluid">

<% @themengruppen.each_slice(2) do |row| %>
  <div class="row-fluid"> 
    <% row.each do |themengruppe| %>
		<div class="span6 equalheight">
		<div class="themengruppe">
			<%= render themengruppe %>
			<p>
				<%= link_to 'Edit', edit_themengruppe_path(themengruppe) %>
			</p>
		</div>
		</div>
	<% end %>
  </div>
<% end %>
</div>
<br />

<script>
make_equal_height();
</script>

<%= link_to 'New Themengruppe', new_themengruppe_path %>
