<div class="content-wrap content-column">
  <%= render :partial=>'layouts/pretty_toolbar' %>
  <ul class="linklist">
    <li>
    <%= link_to fa_icon("question")+ I18n.t("themengruppe.faqs"), faqs_themengruppen_path,class: :linkbox %>
</li>
</ul>
  </p>
  <ul class="unstyled linkbox-list">
    <li>  
      <% @themengruppen.each do |themengruppe| %>
      <div class="container-fluid">
	<%= render themengruppe if can?(:show,themengruppe)%>
      </div>
      <% end %>
    </li>
  </ul>

  <br/>
</div>

<script class="hidden-phone">
  
<!-- make_equal_height();
-->
</script>


<!--
<%= link_to 'New Themengruppe', new_themengruppe_path %>
-->
