<ul class="breadcrumb">
<li>
<%= link_to "Admin" , :controller =>"config" , :action => "index"%>
</li>
</ul>
<table class="table table-striped">
	<% @users.each do |user|%>
<tr><th>Name</th><th>E-Mail</th><th>Rollen</th>
</tr><tr><td></td>
	<td>
	<%= user.email %></td><td><ul>
	<% user.roles.each do |role| %>
	<li><%= role.name%></li>
<% end %></ul></td>
</tr><% end %>
</table>
