
<% unless @results.nil? %>
<ul class="unstyled linkbox-list">
<% @res.each do |res| %>
<% if can?(:show, res) %>
<li>
<%= link_to res, :class=>:linkbox do %>
<%= render :partial=>res.class.to_s.pluralize.downcase+"/nlink", :object=>res %>
<% end %>
</li>
<% end %>
<% end %>
</ul>
<% end %>

<%= @res %>
