<h1>Entwicklungsprojekt</h1>
<h2>Testfeatures</h2>
<b>Neuigkeiten</b>
<p>
Dieses Feature soll aktuelle Informationen zu verschiedenen Themen verwalten und zur Verfügung stellen. 
Dementsprechen muss auch darauf Rücksicht genommen werden. 
</p>
<p>Wichtige Punkte die noch entwickelt werden sind: <ul><li>Verwaltung bestehender Nachrichten</li><li>Facebook Interface</li></ul></p>
<p><%= link_to "Neuigkeiten", rubriken_path %></p>

<p><b>Wiki Funktionalitär</b></p>
<p><%= link_to "Wiki", page_path(Page.find(1)) %></p>
