<h1>Entwicklungsprojekt</h1>
<%= link_to "notimplemented", home_linksnotimplemented_path %>
<h2>Feature List: 2013-07-17</h2>
<ul>
<li>Info zu Studien/Studienpläne</li>
<li>Info zu LVAs</li>
<li>Beispielsammlung</li>
<li>Kalender</li>
<li>Events</li>
<li>Termine</li>
<li>Fotos</li>
<li>FET Mitarbeiter</li>
<li>Personen Profile (TISS?)</li>
<li>News</li>
<li>Gremien - Mitgliedschaften</li>
<li>Börse (JOBs) Sitzungsbeschluss:Derzeit Nein</li>
<li>Lost&Found </li>
<li>FAQ</li>
<li>Informationen (ZB Auslandssemester, Anfänerinfo</li>
<li>Impressum</li>
<li>Linksammlung</li>
<li>Fetzn</li>
<li>FET Sitzungstops</li>
</ul>
<h2>Testfeatures</h2>
<b>Neuigkeiten</b>
<p>Wichtige Punkte die noch entwickelt werden sind: <ul><li>Verwaltung bestehender Nachrichten</li><li>Facebook Interface</li></ul></p>
<p><%= link_to "Neuigkeiten", rubriken_path %></p>

<p><b>Wiki</b></p>
<p></p>
