<h1><%= t 'home.willkommen' %></h1>
<p><%= t 'home.hallobeiderfet' %></p>
<div class="alert alert-info">
<h2>Alpha Test</h2>
<p>Die Webseite befindet sich derzeit in einem Entsicklungsstadium,
volle Funktionsfähigkeit ist noch nicht erreicht. Bitte Featurerequests und
Fehlermeldungen auf GitHub melden.
</p>
<p>
<%= link_to "Issues", "http://www.github.com/fetsite/fetsite/issues" %>
</p>
</div>
<%= link_to "Entwicklungsstatus" , home_dev_path %>
