<h1> FET Intern NEU </h1>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <%= link_to "Adressliste", internlist_fetprofiles_path %>
      <%= link_to "Internes Nachschlagewerk" %>
      <ul class="unstyled linkbox-list">
	<li>  
	  <% @themengruppen.each do |themengruppe| %>
	  <div class="container-fluid">
	    <%= render themengruppe if can?(:show,themengruppe)%>
	  </div>
	  <% end %>
	</li>
      </ul>

      
    </div>
    <div class="span6">
      <h2>Neuigkeiten</h2>
      <ul class="unstyled linkbox-list">	
	<% @neuigkeiten.each do |n| %>
	<li><%= render n if can?(:show, n) %></li>
	<% end %>
      </ul>
    </div>
  </div>
</div>

<h2></h2>

