
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.fileupload-ui
 * require 'bootstrap'

 *= require 'neuigkeiten'
 */
// Colorshema #0A64A4
$color_prim: #7070a0;
$color_prim_light: lighten($color_prim ,10%);
$color_prim_vlight: lighten($color_prim ,30%);
$color_prim_dark: darken($color_prim ,10%);
$color_prim_vdark: darken($color_prim ,30%);

$color_cont: FFDB73;
$color_cont_light:FFDB73;
$linkColor: $color_prim_vdark;
$white: #FFFFFF;

$bodyBackground: #EEE;


$navbarBackground: $color_prim;
$navbarText: black; 
$navbarLinkColor: black;
$navbarLinkColorHover: black;
$dropdownLinkColor: black;
$navbarBackgroundHighlight: $color_prim;
//$navbarBackgroundHighlight:#FFFFFF;

$navbarLinkBackgroundHover:#FFBE00;
$navbarLinkBackgroundHover: darken($navbarBackground,10%);


$infoBackground:#65A5D1;
$infoText:#03406A;
$sansFontFamily: Helvetica, Arial;
@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'bootstrap/image-gallery';


h1 { 
  font-size: 23px
}

h2 { 
  font-size: 19px
}

body,html { 
  padding:0;
  margin:0;

}
a:hover {
  text-decoration:none;
}

div.header { 
  display: block; 
//  background: url('../../../../header1.png') no-repeat;
//  background-color:white;// $color_prim;
  background-position: right; 
  border-bottom:1px solid black; 
  float:left;
  color:#000;
  padding-left:87px;
  padding-top:0px;
//  overflow:hidden;
  margin-bottom: 0 px
}
div.header h1 {
padding:0;
margin:4px;
font-size:20px;
line-height:32px;
}
div.headerrow {
background: $color_prim
}

#menudiv { 
 // width:100%;
}

div.smallspan {
min-height:0;
}	

.navbar .nav li {
  min-width:100%;
}
.navbar .nav .divider {
  border-style: solid;  
  border-width: 1px 0px 0px 0px;
  border-color: grey;
  min-width: 100%;
}

.navbar .navbar-inner 
{
	border:none;
	box-shadow:none;
}
#contentdiv
{
	//background: #FFFFFF
}
#contentdiv .container-fluid
{	padding:0;
}




.navbar .nav li {
min-width:0;

}


div.content-wrap {
margin-left:auto;
margin-right:auto;

//max-width:70em;
}
div.content-column {
max-width:70em;
}
$box-border: lightgray solid 1px;
$box-border-radius:8px;
$box-background: white;
@import 'layout'
