
<% if flash[:notice] %>
    <div class="notice alert alert-info"><%= flash[:notice] %></div>
  <% end %>
  <h1>Admin Panel</h1>

<ul class="nav">
<li>
<%= link_to '<i class="icon-user"></i>'.html_safe + 'Userverwaltung',:controller =>"users",:action => "index" %>
</li>
</ul>
<%= link_to 'Update',config_getgitupdate_url %>
<%= link_to 'Update',:controller =>"config",:action => "get_git_update" %>




