
<div class="container-fluid">
  <div class="row-fluid">
       <div class="span12">
<p><%= link_to "Qualifikationsprofil", studium_path( @studium, :ansicht=>"qualifikationsprofil")%> </p>
	<%= raw(@studium.desc) %>
      </div>
    </div>

  </div>
