<div class="container-fluid">

  <div class="row-fluid">

    <%= raw(@studium.desc) %>
  


    <% @studienphasen.each do |sp| %>
      <% sp[:modulgruppen].each do |row| %>
	<div class="row-fluid">
	  <% row.each do |modulgruppe| %>
	    <div class="span<%= sp[:width]%> min-width:13em;">
	      <%= render modulgruppe %>
	    </div>
	  <% end %>
	</div>
      <% end %>
    <% end %>
  </div>
