

<%= raw(@studium.desc) %>
<div class="container-fluid">
  <% @studium.semester.each_slice(2) do |row| %>
  <div class="row-fluid">
    <% row.each do |sem| %>
    <div class="span6">
      <%= render sem %>
    </div>
    <% end %>
  </div>
  <% end %>
</div>

