<div class="studium">
<b ><%= link_to studium.name + " " + studium.zahl.to_s, studium_path(studium)%></b>(<%=link_to "Modulgruppenansicht", studium_path(studium, :sem=>'false')%>)<br>
<div>
<b>Typ: </b><%= studium.typ%>
</div>
<p>
<b>Beschreibung:</b><br>
<%= studium.desc %>
</p>
</div>
