<%= render 'layouts/topbar' %>
<h1><%= I18n.t("studien.list") %></h1>


<% @studien.sort_by{|z| z[:zahl]}.each do |studium| %>
  <ul>
    <li><%= render studium%></li>
  </ul>
<% end %>


<br>
<%= render :partial=>'layouts/pretty_toolbar'%>
<% #toolbar_html(@toolbar_elements) %>
