<h1><%= I18n.t("studien.list") %></h1>


<% @studien.each do |studium| %>


    <h2><%= link_to studium.zahl + " "+ studium.typ+" " + studium.name, studium_path(studium) %></h2>
  
<% end %>


<br />

<% link_to I18n.t("studien.new"), new_studium_path %>
<%= toolbar_html(@toolbar_elements) %>
