<div class="container-fluid">
  <%= render 'studien/tabs' %>
  <div class="row-fluid">
    <h1><%= I18n.t("studien.list") %></h1>


    <% @studien.sort_by{|z| z[:zahl]}.each do |studium| %>
      <div class="span5">
	<%= render studium%>
      </div>
    <% end %>


    <br>

  </div>
  <%= render :partial=>'layouts/pretty_toolbar'%>
</div>
