<h1><%= I18n.t("beispiele.list") %></h1>
<ul>
<% @beispiele.each do |beispiel| %>
<li>
<%= render :partial=> "beispiele/beispiel_list", :object => beispiel, :as=>:beispiel%>
<% end %>
</li>
</ul>

<%= link_to 'New Beispiel', new_beispiel_path %>
