<% unless search_results.nil? %>
<ul>
	<% search_results.each_hit_with_result  do |hit,result| %>
		<li> <%= result.name %>
			<%  hit.highlights(:name).each do |hlgt| %>
				<%= hlgt.format{|word|"<b>#{word}</b>" }  %>
			<% end 	%>
			<%  hit.highlights(:text).each do |hlgt| %>
				<%=  "text:" + raw(hlgt.format {|word| "*#{word}*" })%> 
			<%  end %>
		</li>	
	<% end  %>
</ul>
	<% end  %>
