 
    <div class="media">
      
      <span class="pull-left">
	<%=  image_tag landscape.picture.portrait.url %>
      </span>
      
      <div class="media-body">  
	<h2><%= landscape.name %></h2>
	
	<p><%= landscape.fetmail %></p>
	<% if false %>
	<p><%= landscape.desc %></p>
	<% end %>
	
      </div>
      
    </div>
    
