<li>
<div class="contentbox">
<p>
  <b><%= link_to "Modul "+ modul.name.to_s , modul_path(modul) %> </b>
</p>
<ul>
<% modul.lvas.each do |lva| %>
<li> 	      <%= render :partial=>'lvas/lva_semester', :locals =>{:lva => lva}%>

</li>
<% end %>


</ul>

<% link_to '<i class="icon-pencil"></i>'.html_safe+I18n.t("common.edit"), edit_modul_path(modul) %>
</div>
</li>

