
<h1><%=@modul.name %></h1>



<div class="row-fluid">
  <div class="span8">
<h2>Beschreibung </h2>    
<p>
  <%= raw(@modul.desc) %>
</p>

</div>
<div class="span4">
  <div class="lva-sidebar">
  <h2>Modulgruppen</h2>
  <ul>
<% @modul.modulgruppen.each do |mg| %>
<li>
<%= render 'modulgruppen/kurz', :modulgruppe=>mg %>
</li>
<% end %>
</ul>
<h2>Lvas</h2>
<% @modul.lvas.each_slice(3) do |row| %>
<ul>
<% row.each do |lv| %>
<li>
<%= render 'lvas/lva_semester', :lva=>lv%>
</li>
<% end %>
</ul>
<% end %>
</div>
  </div></div>
