<div style="border: solid 1px; padding:2px"><p>
  <b><%= link_to "Modul "+ modul.name , modul_path(modul) %> </b>
</p>
<p>
  <%= raw(modul.desc) %>
</p>
LVAs: 
<ul>
<% modul.lvas.each do |lva| %>
<li><%= link_to lva.lvanr+" "+ lva.name, lva %></li>
<% end %>
</ul>

<%= link_to '<i class="icon-pencil"></i>'.html_safe+I18n.t("common.edit"), edit_modul_path(modul) %>
</div>
