
<h1><%= I18n.t("modul.show.title") %></h1>

<%= render :partial=>'moduls/lang', :collection=>@moduls, :as=>:modul%>

<br />
<% #if !@studium.nil? %>
<%= link_to 'New Modul', new_modul_path() %>
<% #end%>

