<%= render 'layouts/topbar'%>
<p id="notice"><%= notice %></p>
<%= render @modul %>

<%= render 'layouts/pretty_toolbar' %>
<% # link_to 'Add LVA',  %>
<% # link_to '<i class="icon-pencil"></i>'.html_safe+ I18n.t("common.edit") , edit_modul_path(@modul) %>
<% # link_to "Loeschen", [@modul],:method=>:delete ,:data => {:confirm =>"Are you sure" } %>
