<% verw_liste.each do |thema| %>
<li id="themen_<%= thema.id %>" class="sort"  ><div class="contentbox handle" ><h2><%= thema.title %></h2>  </div> <%= link_to edit_thema_path(thema),:remote=>true do %> Edit <% end %>  <%= link_to thema_fragen_path(thema),:remote=>true do %> Fragen <% end %></li>
<% end %>
