<h1>Listing theme1n</h1><h2>drafts </h2>
<% @themen_drafts.each do |thema| %>
<%= render partial:"themen/nlink", object: thema %>
<% end %>

<h2>All</h2>
<% @themen.each do |thema| %>
<%= render partial:"themen/nlink", object: thema %>
<% end %>
<br />

<%= link_to 'New Thema', new_thema_path %>
