
$("#themaview").html("<%= escape_javascript(raw("<h2>"+I18n.t("thema.edit")+"</h2>")+render(:partial=>"themen/small", :object=>@thema) )%>");

$("#themen").html("<%= escape_javascript(render(:partial=>"themen/verw_liste", :object=>@themen) )%>");
