<h1>
  <%=  @neuigkeit.title%>
</h1>
<%= image_tag "http://glonass.htu.tuwien.ac.at"+@neuigkeit.picture.big_thumb.url %>
<%= raw(@neuigkeit.text) %>
<%= link_to "Auf Fet.at weiterlesen", rubrik_neuigkeit_url(@neuigkeit.rubrik, @neuigkeit,:locale=>:de, :theme=>nil,:host=> "http://glonass.htu.tuwien.ac.at") %> 
