<h1>
  <%=  @neuigkeit.title%>
</h1>
<%= image_tag @neuigkeit.picture.big_thumb.url(:host=>@host) %>
<%= raw(@neuigkeit.text) %>
<p> Eine Nachricht aus deiner Fachschaft! wenn du diese Neuigkeiten nicht mehr bekommen willst hast du leider Pech gehabt es gibt keine Möglichkeit aus der FET wieder auszutreten.</p>
