
<ul id="themengruppen" class="sort" >
<% @themengruppen.each do |themengruppe| %>
<li id="themengruppen_<%= themengruppe.id %>" class="sort" style="background:white;display:block;" ><%= themengruppe.title %>-<%= themengruppe.priority %></li>
<% end %>
</ul>

<script>

$( document ).ready(function(){
  $("#themengruppen").sortable({
    cursor: 'crosshair',
    drag:true,
    update: function(){
      $.ajax({
        url: '<%= sort_themengruppen_themengruppen_path() %>',
        type: 'post',
        data: $('#themengruppen').sortable('serialize'),
        dataType: 'script',
        complete: function(request){
         }
      })
    }
  });
});
</script>
