
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require jquery.fileupload-ui
 * require 'bootstrap'

 
 */
// Colorshema #0A64A4
$color_prim: #0A64A4;
$color_prim_light: 0B65A5;
$color_prim_vlight: 2B85C5;
$color_cont: FFDB73;
$color_cont_light:FFDB73;
$linkColor: #03006E;
$white: #FFFFFF;

$bodyBackground: $white;
$navbarBackground: $color_cont;
$navbarBackground: #EEEEEE;

$navbarBackgroundHighlight:lighten($navbarBackground,30%);
//$navbarBackgroundHighlight:#FFFFFF;

$navbarLinkBackgroundHover:#FFBE00;
$navbarLinkBackgroundHover: lighten(#CCCCCC,30%);
$infoBackground:#65A5D1;
$infoText:#03406A;
$sansFontFamily: Helvetica, Arial;
@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'bootstrap/image-gallery';


h1 { 
  font-size: 23px
}

h2 { 
  font-size: 19px
}

body,html { 
  padding:0;
  margin:0;

}
a:hover {
  text-decoration:none;
}

div.header { 
  display: block; 
  background: url('/assets/fet_icon_small.png') no-repeat;
  background-color: #0A64A4;
  background-position:15px center; 
  border-bottom:1px solid black; 
  height:72px; 
  color:#C0C0C0;
  padding-left:87px;
  padding-top:0px;
  overflow:hidden;
  margin-bottom: 20px
}
div.header h1 {
padding:0;
margin:4px;
font-size:23px;
line-height:32px;
}
#menudiv { 
  width:100%;
}
	

.navbar .nav li {
  min-width:100%;
}
.navbar .nav .divider {
  border-style: solid;  
  border-width: 1px 0px 0px 0px;
  border-color: grey;
  min-width: 100%;
}

.navbar .navbar-inner {
border:none;
box-shadow:none;
}
#contentdiv{
  background: #FFFFFF
}
#contentdiv .container-fluid
{ padding:0;
}

a.linkbox
{
display:block;
padding:5px;
border-radius: 10px;
border: lightgray solid 1px;

}

a.linkbox:hover
{
box-shadow: 1px 1px 2px 2px lightgray;
}

a.linkbox li
{ 
}
ul.linkbox-list li
{
margin-bottom:10px;
}
ul.linkbox-list
{ max-width:70em;
}

div.contentbox
{
display:block;
padding:5px;
border-radius: 10px;
border: lightgray solid 1px;
margin: 5px;
}