// Place all the styles related to the calendars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table.calendar tr td
{width:14.28%;
height:2em;
position:relative;padding:0}
table.calendar tr td.day div 
{display:block;
 position:absolute;
 background:white;
padding:2px;
}
table.calendar tr td.day div div
{display:none;
position:relative;
}
table.calendar tr td.day.events
{color:blue}
table.calendar tr td.day div:hover div
{display:block;
z-index:10000;

}
table.calendar tr td.day div div.day_number
{
display:block;
}