// Place all the styles related to the fetprofiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.fetprofile_list li a {
display:block
}