form.formtastic .stringish input {
width:90%;
}
form.formtastic select {
width:90%
}
form.formtastic textarea {
width:90%;
height:20em;
}
form.formtastic .input label.control-label {
font-weight:bold;
font-size:125%;
}

