// Place all the styles related to the galleries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

div.gallery-block
{
  padding: 10px;
  margin-bottom: 10px;
}

a.gallery-block:hover
{
  display: block;
  box-shadow: 1px 1px 2px 2px lightgray;
}