h1 { 
  font-size: 23px
}

h2 { 
  font-size: 19px
}

body,html { 
  padding:0;
  margin:0;

}
a:hover {
  text-decoration:none;
}

@import 'tinymce';
@import 'fetlogo';
@import 'flatfeticon1';




ul.linkbox-list
{ 
  max-width:70em;
}
a.linkbox, div.contentbox
{
	display:block;
	padding:5px;
	border-radius:$box-border-radius;
	border: $box-border;
	background: $box-background;
	
}

a.linkbox:hover
{
box-shadow: 1px 1px 2px 2px lightgray;
}
a.linkbox.color-1
{
color:$color_schema_1;	
}
a.linkbox.color-2
{
color:$color_schema_2;	
}
a.linkbox.color-3
{
color:$color_schema_3;	
}
a.linkbox.color-4
{
color:$color_schema_4;	
}
a.linkbox.color-5
{
color:$color_schema_5;	
}


a.linkbox li
{ 
}
ul.linkbox-list li
{
margin-bottom:10px;
}

div.contentbox
{
	margin: 5px;
}
div.content-column {
max-width:70em;
}
div.content-wrap {
margin-left:auto;
margin-right:auto;
}

#contentdiv
{
	background: $contentdiv-background;
}
#contentdiv .container-fluid
{	padding:0;
}
.navbar .nav .divider {
  border-style: solid;  
  border-width: 1px 0px 0px 0px;
  border-color: grey;
  min-width: 100%;
}

.navbar .navbar-inner 
{
	border:none;
	box-shadow:none;
}

.navbar .nav li {
min-width:$navbar-li-minwidth;
}
div.smallspan {
  min-height:0;
}

ul.linklist
{max-width:25em;
padding:0;
margin:0;
}
ul.linklist li{
list-style:none;
maring-bottom:5px;
}
ul.linklist li a i{
vertical-align:middle;
margin-right:6px;
font-size:2em;}
