
@import 'blueimp-gallery-all';
.left
{
  float: left;
  white-space: nowrap;
  overflow: hidden; 
  text-overflow: ellipsis;
  /* etc. */
}
h1 { 
  font-size: 23px
}

h2 { 
  font-size: 19px
}


h3 { 
  font-size: 16px
}

h4 { 
  font-size: 14px
}



body,html { 
  padding:0;
  margin:0;

}
a:hover {
  text-decoration:none;
}

@import 'tinymce';
@import 'fetlogo';
@import 'flatfeticon1';




ul.linkbox-list
{ 
  max-width:70em;
margin-left:auto;
margin-right:auto;
}
a.linkbox, div.contentbox
{
	display:block;
	padding:5px;
	border-radius:$box-border-radius;
	border: $box-border;
	background: $box-background;	
}


a.linkbox:hover
{
box-shadow: 1px 1px 2px 2px lightgray;
}

a.linkbox.color-1
{
color:$color_schema_1;	
}
a.linkbox.color-2
{
color:$color_schema_2;	
}
a.linkbox.color-3
{
color:$color_schema_3;	
}
a.linkbox.color-4
{
color:$color_schema_4;	
}
a.linkbox.color-5
{
color:$color_schema_5;	
}

a.color-1-dark
{
color:$color_schema_1_dark;	
}
a.color-2-dark
{
color:$color_schema_2_dark;	
}
a.color-3-dark
{
color:$color_schema_3_dark;	
}
a.color-4-dark
{
color:$color_schema_4_dark;	
}
a.color-5-dark
{
color:$color_schema_5_dark;	
}
a.color-1-dark:hover
{
color:$color_schema_1;	
}
a.color-2-dark:hover
{
color:$color_schema_2;	
}
a.color-3-dark:hover
{
color:$color_schema_3;	
}
a.color-4-dark:hover
{
color:$color_schema_4;	
}
a.color-5-dark:hover
{
color:$color_schema_5;	
}


a.linkbox li
{ 
}
ul.linkbox-list li
{
margin-bottom:10px;
}

div.contentbox
{
	margin: 5px;
}
div.content-column {
		max-width:70em;
}
div.content-wrap {
		 margin-left:auto;
		 margin-right:auto;	
}

#contentdiv
{
	background: $contentdiv-background;
}
#contentdiv .container-fluid
{	padding:0;
}
.navbar .nav .divider {
  border-style: solid;  
  border-width: 1px 0px 0px 0px;
  border-color: grey;
  min-width: 100%;
}

.navbar .navbar-inner 
{
	border:none;
	box-shadow:none;
}

.navbar .nav li {
min-width:$navbar-li-minwidth;
}
div.smallspan {
  min-height:0;
}

ul.linklist
{max-width:100%;
padding:0;
margin:5px;
}
ul.linklist li{
list-style:none;
margin-bottom:2px;
}
ul.linklist li a i{
vertical-align:middle;
margin-right:6px;
font-size:2em;}
span.linklist a {
	padding:5px;
	border-radius:$box-border-radius;
	border: $box-border;
	background: $box-background;
	display:block;
	float:left;	

}

form.inline div {
float:left;}

form.inline input {
}
form.inline {
float:clear; }