ul.linkbox-list
{ 
  max-width:70em;
}
a.linkbox, div.contentbox
{
	display:block;
	padding:5px;
	border-radius:$box-border-radius;
	border: $box-border;
	background: $box-background;
	
}

a.linkbox:hover
{
box-shadow: 1px 1px 2px 2px lightgray;
}

a.linkbox li
{ 
}
ul.linkbox-list li
{
margin-bottom:10px;
}

div.contentbox
{
	margin: 5px;
}
