// Place all the styles related to the neuigkeiten controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div .neuigkeit_block {
border: 1px solid #ccc;
background: white;
padding:10px;

}
div .neuigkeit_block:hover {
box-shadow: 1px 1px 2px 2px lightgray;
}