// Place all the styles related to the themengruppen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.sticker
{
	width: 90%;
	border-radius: 5px;
	text-align: center;
	padding: 5px;
margin:auto;		
}
div.sticker-red
{	border:solid  red;
}
div.sticker-yellow
{	background: yellow;
}