// Place all the styles related to the themengruppen controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.themengruppe
{padding:10px;
margin:2px;
border-radius: 10px;
min-width:13em;
border: #91B4FF solid 0px;
height: 90%
}

a.themengruppe:hover
{
	box-shadow: 1px 1px 2px 2px lightgray;
}

a.themengruppe
{
	padding: 5px;
	display:block;
}