i.mce-i-fa {
	font: 400 17px/1 FontAwesome;
	padding: 0;
	vertical-align: middle;
	speak: none;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin-left: -2px;
	padding-right: 2px
}
i.fa-red { color:red; }

.mc-important {
    color: red;
    font-weight:bold;
    text-align: center;
}