
		<%=  image_tag @foto.datei.resized.url, :style=>"margin: auto;
position: absolute;
left: 0;
right: 0;
bottom: 0;
top: 0;" %>
<% #,  gallery_foto_path(@foto.gallery,  ((@foto.gallery.fotos[@foto.gallery.fotos.index(@foto)+1].nil?) ? (@foto.gallery.fotos[0].try(:id).to_i) : @foto.gallery.fotos[@foto.gallery.fotos.index(@foto)+1].try(:id).to_i) ) %>
<div style="position:absolute; bottom:0">
<%= link_to ff_icon('icon-circle-arrow-down').html_safe, @foto.datei.url,
	  :class=>"btn",title: I18n.t('fotos.download')+': '+@foto.title,:target=>:blank, :style=>"" %>
		<p id="notice"><%= notice %></p>
	</div>

