
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 * require_tree .
 *= require jquery.fileupload-ui
 *= require jquery.datetimepicker	
 *= require jquery.ui.dialog
 *= require jquery.ui.tabs
 * require 'bootstrap'

 * require 'neuigkeiten'
 */

$color_schema_1: #006599;
$color_schema_2: #630CE8;
$color_schema_3: #FF0021;
$color_schema_4: #E8820C;
$color_schema_5: #FFF30D;

$color_schema_1_dark: darken($color_schema_1, 10%);
$color_schema_2_dark: darken($color_schema_2, 10%);
$color_schema_3_dark: darken($color_schema_3, 10%);
$color_schema_4_dark: darken($color_schema_4, 10%);
$color_schema_5_dark: darken($color_schema_5, 10%);

$color_prim: $color_schema_1_dark; // #006599; //071672;
$color_prim_light: lighten($color_prim ,10%);
$color_prim_vlight: lighten($color_prim ,30%);
$color_prim_dark: darken($color_prim ,10%);
$color_prim_vdark: darken($color_prim ,30%);

$color_cont: $color_schema_3;
$color_cont_light:lighten($color_cont ,10%);
$linkColor: $color_prim;
$linkColorHover: $color_schema_1;
$white: #FFFFFF;

$bodyBackground: #FFF; //#FEFEFE;




$navbarBackground:  #FFF; //$color_prim;
$navbarText: $color_prim; 
$navbarLinkColor: $color_prim;
$navbarLinkColorHover: $color_schema_1;
$dropdownLinkColor: black;
$navbar-default-brand-color: black;
$navbarBrandColor:black;


$navbarBackgroundHighlight: #FFF;
//$navbarBackgroundHighlight:#FFFFFF;


$navbarLinkBackgroundHover: darken($navbarBackground,10%);


$infoBackground:#65A5D1;
$infoText:#03406A;
$sansFontFamily: Helvetica, Arial;

@import 'bootstrap';
@import 'bootstrap-responsive';
@import 'bootstrap/image-gallery';
@import 'font-awesome';
@import 'neuigkeiten';
@import 'themengruppen';

div.header {		
  display: block; 
	//  background: url('../../../../header1.png') no-repeat;
	// background-color:white;// $color_prim;
	// background-position: right; 
  vertical-align:middle;
  float:left;
  color:#000;
  padding-top:0px;
  overflow:visible;
  height:45px;
  margin-bottom: 0 px
}
div.header_span {
  background:white
}
div.header h1 {
  padding:0;
  margin:4px;
  font-size:20px;
  line-height:32px;
}
div.header img {
//top:2px;
//position:relative;
}
div.navbar {
border-bottom: $color_prim solid 3px;
}
div.headerrow {
}

$contentdiv-background:rgba(255,255,255,1) ;
#contentdiv {
padding:7px;
}
$navbar-li-minwidth: 0;



$box-border: lightgray solid 1px;
$box-border-radius:4px;
$box-background: white;

@import 'layout';
@import 'calendars';
@import 'formtastic-bootstrap';

@import 'extra';
body {
background: #FFF; //#EFEFEF;
background-size:100%;
}

ul.linklist_block a.linkbox
{
max-width:100%;
padding:0;
margin:5px;
width: 6em;
text-align:center;
}
ul.linklist_block a.linkbox:hover
{background:lighten($color_schema_1,40%);
}
ul.linklist_block li
{text-decoration: none;
list-style:none;
margin-bottom:2px;
float:left;
}
ul.linklist_block li a i{
display:block;
vertical-align:middle;
margin-right:6px;
font-size:5em;
line-height:70px;
}
ul.linklist_block { clear:left; float:none;}
