<!--
Verwendung: Aufruf mit 
< % = render 'layouts/pretty_toolbar % > verwendet die Elemente die im Controller per @toolbar_elements vorgegeben werden. Sonst kann man über
< % = render :partial=>'layouts/pretty_toolbar', :object=>@foo % > einen beliebigen array @foo übergeben

-->
<% toolbar_elements = !pretty_toolbar.nil? ? pretty_toolbar : @toolbar_elements %>
<span class="label"><%= I18n.t("common.actions")%></span>
 <div class="btn-group">
<% toolbar_elements.each do |t| %>
      <%= link_to '<i class="'.html_safe+ t[:hicon].to_s.html_safe + '"></i>'.html_safe+t[:text], t[:path], :method=>t[:method], :confirm=>t[:confirm].to_s, :data=>t[:data], :class=>"btn" %>
    <% end %>
</div>
