<!--
Verwendung: Aufruf mit 
< % = render 'layouts/pretty_toolbar % > verwendet die Elemente die im Controller per @toolbar_elements vorgegeben werden. Sonst kann man über
< % = render :partial=>'layouts/pretty_toolbar', :object=>@foo % > einen beliebigen array @foo übergeben

-->
<% toolbar_elements = !pretty_toolbar.nil? ? pretty_toolbar : @toolbar_elements %>
<span class="label"><%= I18n.t("common.actions")%></span>
<div class="btn-group">
  <% toolbar_elements.each do |t| %>
  <% unless t[:method]==:versions %>
  <% text='<i class="'.html_safe+ t[:hicon].to_s.html_safe + '"></i>'.html_safe+t[:text] %>
  <%= link_to text, t[:path], :method=>t[:method], :confirm=>t[:confirm].to_s, :data=>t[:data], :class=>((t[:method].to_s=='delete') ? "btn btn-danger" : "btn") ,:remote=>(t[:remote])?true : false %>
  <% else %>
  <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
	Versionen<span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
	<li>	<%= link_to "active", t[:path]  %>
	</li>
	<% t[:versions].each_with_index do |v,i| %>
	<li>
	  <% unless t[:path].nil?
	     uri= URI.parse(t[:path]);
	     q=[];
	     q= q.merge(URI.decode_www_form(uri.query)) unless uri.query.nil?
	    
	     uri.query= URI.encode_www_form(q<<["version",i.to_s])
									      %>
	  <%= link_to I18n.l(v[:created_at]).to_s,uri.to_s ,:version=>v[:id] %>
<% end %>
	</li>
	<% end %>    
      </ul>
  </div>
  <% end %>
  <% end %>
</div>
