<h1><%= I18n.t("rubrik.title")%></h1>


<% @rubriken.each do |rubrik| %>


    <%=
    html="<b>".html_safe + rubrik.name + "</b> <br>".html_safe + rubrik.desc + "<br>".html_safe
    
    link_to( html , rubrik )%>
   

<% end %>



<br />

<%= link_to 'New Rubrik', new_rubrik_path %>
