<%= render 'tabs' %>
<h1><%= I18n.t("rubrik.title")%></h1>

<ul class="unstyled linkbox-list" style="max-width:70em">
  <% @neuigkeiten.each do |n| %>
  <li><%= render n %> </li>
  <% end %>
</ul>



